{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
<!-- these wagtail tags are required within templates using wagtail, images is only required for images.-->

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div>
    <h1 class="text-center mt-3">{{ page.title }}</h1>
    <div class="d-flex justify-content-center p-3">
    {% image page.image fill-320x320 %}
    </div>
    <p class="fs-2 p-2 text-center">{{ page.hero_text }}</p>
    {% if page.hero_cta_link %}
    <div class="d-flex justify-content-center">
    <a href="{% pageurl page.hero_cta_link %}" class="btn btn-primary">
        {% firstof page.hero_cta page.hero_cta_link.title %}
    </a>
    </div>
    {% endif %}
</div>
<div class="p-3 text-center">
{{ page.body|richtext }}
{% endblock content %}
</div>