body {
    background-color: #676767;
    color: #FFFFFF;
}
/* Header styles */
.site-header {
    background-color: #333333;
    padding: 5px;
    text-align: center;
}

.nav-link {
    color: #FFFFFF;
}

.nav-link:hover {
    color: #ff8700;
}

.navbar-toggler {
    background-color: #ff8700;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0.2rem!important;
}
/* End of header styles */
/* UI/UX styles */
.active {
    color: #ff8700!important;
}

.btn-primary {
    background-color: #ff8700;
    border-color: #ff8700;
}

.card {
    --bs-card-border-width: 0;
}

.card-header {
    background-color: #ff8700!important;
    color: #FFFFFF!important;
}

.card:hover {
    box-shadow: 0 0 10px rgba(255, 135, 0, 0.5);
    transform: scale(1.02);
    transition: transform 0.2s, box-shadow 0.2s;
}
/* End of UI/UX styles */